.PlaylistsContainer {
    color:grey;
    text-align: left;
    background-color: aqua;
    flex: 1;
    min-width: 0; /* 🚨 CRUCIAL for flex-shrink to work */
    overflow: hidden; /* Optional: avoids bleed if inner content overflows */

}
.PlaylistHeader {
    display: flex;
    gap: 5px;
}

.Playlists {
    background-color: salmon;
}

.Playlist {
    display: flex;
    margin: 20px 0;
    background-color: blueviolet;
}
